<% content_for :title do %>
	Editer son article
<% end %>

<h1>Actualité</h1>
<table cellspacing=0 cellpadding=10>

<!--%= form_for :articles, url: article_path(@article), method: :patch do |f| %-->
<%= form_for(@article) do |f| %>
	<p>
		<%= f.label :intitule %><%= f.text_field :intitule %>
	</p>
	<p>
		<%= f.label :donnees %><%= f.text_field :donnees %>
	</p>
	<p>
		<%= hidden_field_tag 'articles[archive]', '' %>
		<%= check_box_tag 'article[archive]', 1, (@article.archive == 1 ? true : false) %></td>
	</p>
	
	<p>
		<%= f.submit %>
	</td>	
	
<% end %>
</table>