<h1>Liste des acces</h1>

<p><h2><%= @actualite.libelle %></h2></p>
<p><%= @actualite.libelle %></p>
<p><%= @actualite.informations%></p>
<p><%= @actualite.archive %></p>
<p><%= @actualite.image %></p>
<p><%= @actualite.resume %></p>
<p><%= @actualite.pdf %></p>
<p><%= @actualite.url %></p>
	
<p><%= link_to 'back', actualites_path %></p>
