<h1><%= titrePage %></h1>
 
<div class="zerogrid"> 
<% @pages.each do|p|%>
	
	<div class="col-1-4 margeBox resume fond " style="background-color:<%= p.couleur %>" onclick="location.href='<%=page_path(p)%>'">
		<p>
			<p><h2><%= p.libelle %></h2></p>
			<br/>
			<div class="bottomButton center">
				<div style="float:left;">
					<%= button_to "Show", page_path(p), class: 'btnSuite', method: 'get' %>
				</div>
				<% if current_user && current_user.editor? %> 
				<div style="float:left;">
					<%= button_to "Edit", edit_page_path(p), class: 'btnSuite', method: 'get'  %>
				</div>
				<% end %>
				<% if current_user && current_user.admin? %> 
				<div style="float:left;">
					<%= button_to "delete", page_path(p), :method=>:delete, :class=>:destroy, data: { confirm: 'Are you sure?' }%>
				</div>
				<% end %>
				<div style="clear:both;">
				</div>
			</div>
		</p>
	</div>	
	
<% end %>
</div>
<%= link_to	"Nouveau", new_page_path, class: 'new' %>

