<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title><%= yield :title %></title>
	<%= render "layouts/stylesheets" %>
	<%= stylesheet_link_tag "style_page" %>
	
	<%= csrf_meta_tags %>
</head>

<body>

	<%= render "layouts/header" %>
	<div>

		<% if current_user %>
			<ul>
				<li><%= current_user.email %></li>
			</ul>
		<% else %>
			<ul>
				<li><%= link_to "Log in", login_path %></li>
				<li><%= link_to "Signup", signup_path %></li>
			</ul>
		<% end %>

	</div>
	<section class="corpus">
		<%= yield %>
	</section>

	</div>
	<%= render "layouts/footer" %>	
</body>

</html>




</html>