<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Commune</title>
	
	<%= render "layouts/stylesheets" %>
	<%= javascript_include_tag 'application' %>	
	<%= javascript_include_tag 'jquery', 'jqueryApp' %>
	<%= csrf_meta_tags %>

</head>

<body>	

<div>
	<%= render "layouts/header" %>
	<section class="corpus">
		<%= yield %>
	</section>
	<%= render "layouts/footer" %>
</div>
</body>


</html>